/* SQLINES DEMO *** le prod    Script Date: 14/06/2021 15:13:13 ******/
-- SQLINES LICENSE FOR EVALUATION USE ONLY
CREATE TABLE prod(
	Datetime timestamp(3) NULL,
	MWh_del double precision NULL,
	NodePrice double precision NULL,
	HubPrice double precision NULL,
	FloatinbligationVolume double precision NULL);;
	
INSERT INTO prod (Datetime, MWh_del, NodePrice, HubPrice, FloatinbligationVolume) VALUES (CAST(N'2021-06-01T00:15:00.000' AS TIMESTAMP(3)), 5.538, 19.13, 19.1, 22);
INSERT INTO prod (Datetime, MWh_del, NodePrice, HubPrice, FloatinbligationVolume) VALUES (CAST(N'2021-06-01T00:30:00.000' AS TIMESTAMP(3)), 7.482, 18.95, 18.95, 22);
INSERT INTO prod (Datetime, MWh_del, NodePrice, HubPrice, FloatinbligationVolume) VALUES (CAST(N'2021-06-01T00:45:00.000' AS TIMESTAMP(3)), 4.56, 19.77, 18.88, 22);











